/*Background colors*/

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: blue;
}

.bg-pink {
    background-color: pink;
}

.bg-green {
    background-color: green;
}

.bg-gray {
    background-color: gray;
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-darkgray {
    background-color: darkgray;
}

.bg-orange {
    background-color: orange;
}

.bg-purple {
    background-color: purple;
}

.bg-brown {
    background-color: brown;
}

.bg-cyan {
    background-color: cyan;
}

.bg-magenta {
    background-color: magenta;
}

.bg-lime {
    background-color: lime;
}

.bg-teal {
    background-color: teal;
}

.bg-navy {
    background-color: navy;
}

.bg-gold {
    background-color: gold;
}

.bg-silver {
    background-color: silver;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-lightgreen {
    background-color: lightgreen;
}

.bg-lightyellow {
    background-color: lightyellow;
}