@model List<Race>
@{
    ViewData["Title"] = "Časomír";
}

@foreach (var race in Model)
{
    var leagueNameLow = race.League?.Name.ToLower() ?? "non-league";
    <div id="@race.Id" class="text-left race">
        <div class="border-bottom text-white rounded-3 @leagueNameLow">
            <h4 class="ms-2 pt-1">
                @race.DateTime.ToString("dd.M. - HH:mm") @race.Place
            </h4>
        </div>
    </div>
}