@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomenuté heslo";
}

<h1>@ViewData["Title"]</h1>
<h2>Zadejte svůj email</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="resetPasswordForm">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <input type="hidden" id="recaptchaToken" name="recaptchaToken" />


            <button type="submit" class="w-100 btn btn-lg btn-primary">Resetovat heslo</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=@Model.ReCaptchaSiteKey"></script>

    <script>
        grecaptcha.ready(function() {
            document.getElementById("resetPasswordForm").onsubmit = function(event) {
                event.preventDefault(); 

                grecaptcha.execute('@Model.ReCaptchaSiteKey', { action: 'reset_password' }).then(function(token) {
                    
                    document.getElementById("recaptchaToken").value = token;

                    document.getElementById("resetPasswordForm").submit();
                });
            };
        });
    </script>

}
